<div id="login-form" class="my-form p-5 rounded border border-secondary">
  <h1 class="wb-100">Login:</h1>
  <form action="/login" method="POST">
    <%- include('_form_fields') %>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <p class="pt-2">
      Don't have an account?
      <a href="/register" class="btn btn-sm btn-success">Sign Up</a>
    </p>
  </form>
</div>
